<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSearchTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileSearchTool.Properties.Settings>
            <setting name="SearchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchPattern" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="SearchTextFirst" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchTextEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchWarnNum" serializeAs="String">
                <value>8</value>
            </setting>
        </FileSearchTool.Properties.Settings>
    </userSettings>
</configuration>